* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #111b21;
  color: #e9edef;
  height: 100vh;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #111b21;
}

::-webkit-scrollbar-thumb {
  background: #374045;
  border-radius: 3px;
}